@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400,700);

* {
  outline: 0 !important; 
  *zoom: 1;             
}

html { height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

a, a:active, a:hover { color: #ab3c3c; }

p { font-size: 24px; }

input {
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 16px;
  width: 300px;
  height: 40px;
  border: 1px solid #dfdfdf;
  margin-top: 40px;
  background-color: #f9f9f9;

  &:focus {
    border-color: #dfdfdf;
    box-shadow: none;
  }
}

#petelab-trigger {
  z-index: 200;
  background: #000;
  border: 0;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
  letter-spacing: 1px;

  &:active {
    padding-top: 15px;
  }
}

.petelab-trigger-screenshots {
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  margin: 0;
  cursor: pointer;
  right: 122px;
  top: 32px;
  padding: 18px 27px;
  text-transform: uppercase;
  border-radius: 5px;
  background: #cb4e4e;
  box-shadow: 0 6px #ab3c3c;

  &:hover {
    box-shadow: 0 8px #ab3c3c;
    top: 30px;
  }

  &:active {
    box-shadow: 0 0 #ab3c3c;
    top: 38px;
  }
}

#petelab-screenshots {
  padding: 0;
  margin: 0 auto;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: 30px;
  margin-top: 120px;

  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }

  .data {
    span {
      display: block;
      padding: 2px 5px;
      font-size: 80%;
      border-bottom: 1px solid #f7f7f7;
    }

    span:last-child {
      background: #ddd;
      border-bottom: 0;
    }
  }

  .item {
    background: #fff;
    float: left;
    width: 258px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  a, a img {
    display: block;
  }

  img {
    width: 258px;
    height: auto;

    &.open { width: auto; height: auto; }
  }
}

.overlay {
  z-index: 300;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;

  .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 30px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: image-url('cross.png') no-repeat center center;
    text-indent: 200%;
    color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 100;
  }
}

.container {
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; 
  height: auto !important;
  min-height: 100%;
  height: 100%;
  width: 100%;

  &:after {
    content: '';
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }

  &.overlay-open {
    //-webkit-transform: translateX(50%);
    //transform: translateX(50%);

    &:after {
      visibility: visible;
      opacity: 1;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
    }
  }
}

.overlay-contentpush {
  background: rgba(#b6b6b6, 0.9);
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
  visibility: visible;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

footer {
  background: #555;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 75px;
}

.n-links {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;

  li, li a {
    display: inline-block;
  }

  li {
    margin: 0 10px 10px;
  }

  a {
    padding: 15px 30px;
    background: #eee;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      background: #000;
      color: #eee;
    }
  }
}

.petelab-state {
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #fff;

  &:first-child:last-child {
    margin: 0;
  }

  &.connected {
    background: #3b9737;
  }

  &.connecting {
    background: #3576be;
  }

  &.disconnected, &.unavailable {
    background: #c2393b;
  }
}

body {
  // x-small
  @media (max-width: 767px) {
    background: #5BB75B;
  }

  // small
  @media (min-width: 768px) and (max-width: 991px) {
    background: #FAA732;
  }

  // medium
  @media (min-width: 992px) and (max-width: 1199px) {
    background: #49AFCD;
  }

  // large
  @media (min-width: 1200px) and (max-width: 1399px) {
    background: #DA4F49;
  }
}

.content {
  text-align: center;
  margin: 10% auto 300px;
  width: 50%;

  p.n {
    text-align: center;
    font-size: 250px;
    line-height: 250px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 50px;
    line-height: 80px;
  }

  textarea {
    width: 100%;
    display: block;
    font-size: 35px;
    color: inherit;
    border: 5px #ccc solid;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }

  .select {
    position: relative;
    display: inline-block;
    width: 100%;

    select {
      -webkit-appearance: none;
      font-size: 30px;
      border: 5px #ccc solid;
      border-radius: 10px;
      padding: 20px;
      width: 100%;
    }

    &:after {
      display: block;
      content: '\25BE';
      position: absolute;
      top: 25px;
      right: 20px;
      font-size: 30px;
    }
  }
}
